* {
    background-color: cornsilk;
}

#character{   
    background-image: url(Red_Square.jpeg);
    height: 50px;
    width: 50px;
    position: relative;
    border: solid 3px;
}

#goal{   
    background-image: url(Block_Mystery_Black.png);
    height: 35px;
    width: 35px;
    position: relative;
    top: 400px;
    left:400px;
}